.st-menu-accordion > .panel-group {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.st-menu-accordion-heading {
	margin-top: 5px;
}
.st-menu-accordion-heading .panel-heading a {
	cursor: pointer;
}
.st-menu-accordion-heading .panel-heading a:hover {
	text-decoration: none;
}
.st-menu-accordion-indented {
	margin-left: 20px;
}
