<div mnd-sidebar ng-controller="SidebarController">
	<div name="before">
		<div id="ll-sidebar-user">
			<div ng-if="user" class="row">
				<a class="col-xs-4 ll-undecorated-a" ui-sref="profile()">
					<div ll-cig-image source="user.profile.pictureUrl" size="70"></div>
				</a>
				<div class="col-xs-8">
					<div class="ll-vsp-6"></div>
					<a class="ll-undecorated-a" ui-sref="profile()">{{user.profile.name}}</a>
					<br />
					<span ng-click="logout()" class="logout ll-clickable">
						<small><i>Logout</i></small>
					</span>
				</div>
			</div>
			<div ng-if="!user" ng-click="login()" class="login">
				<i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Sign in
			</div>
		</div>	
	</div>
	<div name="after">
		<div id="ll-sidebar-footer">
			================<br />
			FOOTER GOES HERE<br />
			================
		</div>	
	</div>	
</div>
<div mnd-toggle-sidebar>
	<div name="center">
		<!-- logo -->
	</div>
</div>
<div mnd-content>
	<div ui-view class="mnd-content"></div>
</div>
