// Colours
$ll-green: #2d8632;
$ll-grey: #5e5f5f;
$ll-light-grey: #abadad;

//page Css
.personal-home-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.personalHomeApp {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding-top: 20px;
	background: $ll-green;
	text-align: center;
	font-size: 40px;
	border-radius: 25px;
	box-shadow:4px 4px 6px #414141;
	color: $ll-grey;
}
.personalHomeApp:hover {
	color: $ll-grey;
}
.personalHome-h2{
	text-align: center;
	border-bottom: solid 1px $ll-light-grey;
	box-shadow:0px 4px 4px -3px $ll-light-grey;
}
.app-box {
	position: relative;
	display: inline-block;
	float: left;
	padding: 10px;
}

@media (max-width: 767px){
	.app-box {
		width: 33%;
	}
}
